body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514e;
  ;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  color:#66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  padding-bottom: 10px;
}

.subtitle{
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999e;
}

hr{
  border-style: dotted none none;
  width:4%;
  border-width: 6px;
  border-color: lightgrey;
  margin:100px auto;

}

a{
  color:#11999e;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.skill-row{
  width: 50%;
  margin:100px auto;
  text-align: left;
  text-align: left;

}

p{
  line-height: 2;
}
.middle-container {
  margin: 100px auto;
}

.intro{
  width: 30%;
  margin:auto;
}

.call-to-action{
  width: 50%;
  margin:50px auto;
}
.btn{
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #66bfbf 5%, #408c99 100%);
	background-color:#66bfbf;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #66bfbf 100%);
	background-color:#408c99;
}
.bottom-container {
  background-color: #66bfbf;
  color: #11999e;
  padding:30px 0px 15px;
  line-height: 2;

}

.footer-link{
  font-family: 'Montserrat', sans-serif;
  margin:10px;
  font-weight: bold;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.coding{
  width: 30%;
  float:left;
  margin-right: 30px;
}
.tech-support-img{
  width: 20%;
  float:right;
  margin-left: 30px;
}

.icon-attribute{
  float: right;
  font-size: 0.5rem;
}
